<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surveyer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/pollit_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pollit_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Surveyer"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.onboarding.OnBoarding"
            android:exported="false" />
        <activity
            android:name=".ui.survey.SurveyView"
            android:exported="false" />
        <activity
            android:name=".ui.Navigations"
            android:exported="false"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>